body, html {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: burlywood;
    margin: 0px;
    background: url('http://getwallpapers.com/wallpaper/full/d/4/8/510902.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
    height: 100%;
    width: 100%;
}

.jumbotron {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    margin-top: 25px;
    background: linear-gradient(to bottom right, darkslateblue, lightpink);
    color: burlywood;
    border: outset 8px lightpink;
}


.option {
    font-family: 'Source Code Pro', monospace;
    border: 3px outset lightpink;
    background-color:burlywood;
    color: darkslateblue;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
}

.option:hover {
    background-color: rgb(211, 153, 77);
    border: 2px solid rgb(250, 136, 153);
    color: rgb(52, 39, 138);
}

#reset {
    font-family: 'Source Code Pro', monospace;
    background-color: burlywood;
    color: darkslateblue;
    border: 2px solid lightpink;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
}

#reset:hover {
    background-color: rgb(211, 153, 77);
    border: 2px solid rgb(250, 136, 153);
    color: rgb(52, 39, 138);
}

#displayResult {
    border: 4px lightpink;
    color: burlywood;
}

#start {
    font-family: 'Source Code Pro', monospace;
    background-color: burlywood;
    color: darkslateblue;
    border: 2px solid lightpink;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#start:hover {
    background-color: rgb(211, 153, 77);
    border: 2px solid rgb(250, 136, 153);
    color: rgb(52, 39, 138);
}

